<h1>Angular Router App</h1>
<nav>
  <ul>
    <li><a routerLink="/table-component" routerLinkActive="active" ariaCurrentWhenActive="page">Table Component</a></li>
    <br>
    <li><a routerLink="/link-component" routerLinkActive="active" ariaCurrentWhenActive="page">link Component</a></li>
    <br>
    <li><a routerLink="/list-component" routerLinkActive="active" ariaCurrentWhenActive="page">list Component</a></li>
    <br>
    <li><a routerLink="/Alert-Button-component" routerLinkActive="active" ariaCurrentWhenActive="page">Alert Button Component</a></li>
    <br>
    <li><a routerLink="/Leap-year-component" routerLinkActive="active" ariaCurrentWhenActive="page">Leap Year Component</a></li>
    <br>
    <li><a routerLink="/shopping-list-component" routerLinkActive="active" ariaCurrentWhenActive="page">Shopping List Component</a></li>
  </ul>
</nav>
<!-- The routed views render in the <router-outlet>-->
<router-outlet></router-outlet>