table {
    width: 100%;
    border-collapse: collapse;
}
th, td {
    border: 1px solid black;
    padding: 8px;
    text-align: left;
}
th {
    background-color: gray
}
td:first-child {
        font-weight: bold;
        background-color: rgb(203, 203, 203);
    }