ul{
    list-style-type: none;
    margin: 0 auto;
    width: fit-content;
    text-align: center;
}
li{
    border:  solid white;
    padding: 10px;
    width: 100px;
    margin: 3px;
    text-align: center;
}
.nested-list {
        margin-top: 100px; 
    }
.grey1{
    background-color: rgb(157, 154, 154);
}
.green1{
    color: white;
    background-color: rgb(34, 90, 34);
}
.grey2{
    background-color: rgb(119, 115, 115);
}
.black1{
    color: white;
    background-color: black;
}
.grey3{
    background-color: rgb(93, 92, 92);
}
.black2{
    color: white;
    background-color: rgb(12, 12, 12);
}