<ul>
    <li class="grey1">ONE</li>
    <LI class="green1">TWO</LI>
    <LI class="grey2">THREE</LI>
    <LI class="black1">FOUR</LI>
    <LI class="grey3">FIVE</LI>
    <LI class="black2">SIX</LI>
</ul>




<ul class="nested-list">
    <li class="grey1"> 1 </li>

        <ul>
            <li class="grey1">1.1</li>
            <li class="grey1">1.2</li>
        </ul>
    <li class="grey1">2</li>
        <ul>
            <li class="grey1">2.1</li>
            <li class="grey1">2.2</li>
            <li class="grey1">2.3</li>
        </ul>
    
</ul>