<table>
    <tr>
        <th>State</th>
        <th>Cheif Minister</th>
        <th>Capital</th>
    </tr>
    <tr>
        <td>Andrha</td>
        <td>Jagan</td>
        <td>Amaravati</td>
    </tr>
    <tr>
        <td>Telengana</td>
        <td>KCR</td>
        <td>Hyderabad</td>
    </tr>
    <tr>
        <td>Karnataka</td>
        <td>Bommai</td>
        <td>Bangalore</td>
    </tr>
    <tr>
        <td>Maharashtra</td>
        <td>Uddav Thakery</td>
        <td>Mumbai</td>
    </tr>
    <tr>
        <td>Kerala</td>
        <td>Pinnarai</td>
        <td>Trivandrum</td>
    </tr>      
        
  
  </table>